@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/600.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif; 
}

/* Global auth form sizing */
.auth-form input,
.auth-form label,
.auth-form select,
.auth-form textarea {
  font-size: 0.875rem; /* 14px */
  line-height: 1.6;
}

/* Placeholders same size, just lighter */
.auth-form ::placeholder {
  font-size: 0.875rem;
  opacity: .7;
}

/* Optional: tighten default labels in login/register heads */
.auth-form .checkbox-label { font-size: 0.875rem; }

/* Scrollable rail content, but with hidden scrollbar */
.rl-scroll {
    overflow-y: auto;
    scrollbar-width: none;          /* Firefox */
}

.rl-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;                      /* Chrome / Edge / Safari */
}

.pagination .active > span {
    background-color: #0052CC !important;
    border-color: #0052CC !important;
    color: white !important;
}

.pagination a:hover {
    color: #003fa3 !important;
}

/* Minimalistic thin scrollbar */
.thin-scrollbar {
    scrollbar-width: thin;              /* Firefox */
    scrollbar-color: #c7d2fe transparent; /* thumb + track colors */
}

.thin-scrollbar::-webkit-scrollbar {
    height: 4px; /* horizontal scrollbar thickness */
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c7d2fe; /* slate-200 / indigo-100 blend */
    border-radius: 9999px;
}

/* Hide scrollbar for Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for IE, old Edge */
.no-scrollbar {
    -ms-overflow-style: none;
}



